/* src/styles/filmesCartaz.css */

.menuFilmesCartaz{
    text-shadow: 0 0 10px #f1c764;
}

.fundo-preto-busca {
    background-color: black;
    width: 100%;
    padding: 30px 20px; 
    display: flex;
    justify-content: center;
    position: sticky; 
    top: 124px;
    z-index: 999;
}
/* Div da barra de pesquisa limpa */
.search-box {
    display: flex;
    width: 100%;
    max-width: 1090px;
    background-color: #2f3640;
    border-radius: 8px;
    overflow: hidden; 
    height: 50px; 
}

.search-box input {
    flex: 1; 
    background: transparent;
    border: none;
    outline: none;
    padding: 20px;
    color: #dad9d9;
    font-size: 16px;
}

.search-box button {
    width: 60px;
    background-color: rgb(150, 28, 28);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0AD12;
    font-size: 25px;
    transition: background 0.3s;
}

/* ---------------------------------------------------
   RESTANTE DO ESTILO DA PÁGINA
--------------------------------------------------- */
.tituloPag {
    color: white;
    margin-top: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.msgErro, .msgErro1 {
    color: rgb(150, 28, 28);
    margin-top: 20px;
}

.gradeFilmes {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    justify-content: center; 
    padding: 20px;
}

.cardFilme {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 250px;
    transition: transform 0.3s ease; 
}

.cardFilme:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.cardFilme:hover .posterFilme {
    border-color: #F0AD12; 
}

.posterFilme {
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 4px 15px rgba(105, 105, 105, 0.5);
    margin-bottom: 15px;    
    transition: border-color 0.3s ease;
}

.tituloFilme {
    text-align: center;
    font-size: 14px;
    display: -webkit-box; 
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    text-decoration: none !important;
}

/* ---------------------------------------------------
   RESPONSIVIDADE (CELULARES E TABLETS)
--------------------------------------------------- */
@media (max-width: 768px) {
    .menuFilmesCartaz{
        display: block;
        max-width: 100%;
        border-bottom: 0;
        border-radius: 0;
        text-shadow: none !important;
        background-color: rgb(114, 23, 23);
    }

    .fundo-preto-busca {
        padding: 0px;
        top: 124px;
    }

    .search-box{
        border-radius: 0;
    }
    
    .cardFilme {
        width: calc(50% - 20px); 
        min-width: 140px;
    }   
}

@media (max-width: 480px) {
    .cardFilme {
        width: 100%; 
    }
}