/* UTILIDADES EXTRAS DO LOGIN */
.utilidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 0.85rem;
}

.lembre_de_mim {
    display: flex;
    align-items: center;
    gap: 8px;
}

.qual_minha_senha {
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

/* RESPONSIVIDADE (MOBILE) */
@media (max-width: 768px) {
    .btn-entrar {
        display: block;
        max-width: 100%;
        border-bottom: 0;
        border-radius: 0;
        text-shadow: none !important;
        background-color: rgb(114, 23, 23);
    }

    .utilidades {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .lembre_de_mim, .qual_minha_senha {
        font-size: 25px;
    }
}